@import url("./utility-classes.css");

/* ----------------------- */
/* - Header Nav content    */
/* ----------------------- */

.navigation {
	height: 70px;
	max-width: 100vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 30px;
}

.navigation > * + * {
	height: 100%;
}

.navigation a:link,
.navigation a:visited {
	display: flex;
	align-items: center;
	height: 100%;
	text-decoration: none;
	color: var(--text-white);
	padding: 0 10px;
}

/* .navigation a:where(:not(:first-child)):hover {
	color: #212121;
	background: #ffa000;
} */

.navigation a:hover,
.navigation a:focus {
	font-style: bold;
	color: #212121;
	background: #ffa000;
}

nav,
.navigation-menu,
.nav-brand {
	display: flex;
	margin: 0;
	padding: 0;
	height: 100%;
}

/* ----------------------- */
/* - Dropdown - MENU       */
/* ----------------------- */
.dropdown {
	/* background: red; */
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: var(--text-accent-1);
	/* min-width: 160px; */
	min-width: 100%;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	right: 0.1px;
}

.dropdown-content a:link,
.dropdown-content a:visited {
	/* color: red; */
	padding: 12px 10px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	/* background-color: var(--text-accent-1); */
	background-color: var(--background-dark);
	color: var(--text-white);
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .navigation-menu {
	background-color: var(--text-accent-1);
}
/* * NAV MENU */

.nav-content {
	display: flex;
}
.nav-menu {
	/* display: flex; */
	display: none;
	z-index: 1;
}

.nav-link-a {
	text-decoration: none;
	font-weight: 500;
	text-transform: uppercase;
}

/* Buttons */
.btn-menu {
	color: aquamarine;
	border: 0;
	box-shadow: none;
	outline: none;
	background-color: transparent;
	font-size: 16px;
	display: none;
}

/* ----------------------- */
/* - MEDIA QUERIES         */
/* ----------------------- */
@media (max-width: 768px) {
	.dropdown {
		display: inline-block;
	}
	nav .a-link {
		display: none !important;
	}

	.nav-content {
		display: none;
	}
	.nav-menu {
		display: flex;
		/* z-index: 1; */
	}

	.btn-menu {
		display: block;
		width: 40px;
		position: absolute;
		top: 20px;
		left: 20px;
		font-size: 20px;
	}
	.btn-menu-open {
		display: block;
		width: 50px;
		border: none;
		background: #fff;
	}

	.nav-links.open {
		display: flex;
		right: 0;
		transition: 0.5s ease;
	}

	.nav-links {
		background-color: var(--text-accent-1);
		position: absolute;
		width: 250px;
		height: 100vh;
		top: 0;
		right: -250px; /* <- agregar animacion */
		/* right: 0; */
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		display: none;
	}

	.nav-menu .nav-links .nav-link-a {
		margin: 20px 0;
		/* height: auto; */
		height: 60px;
		width: 100%;
		justify-content: center;
	}
}

@media (min-width: 768px) {
	.dropdown {
		display: none;
	}

	nav a {
		display: inline-block;
	}
}

.section-title {
	width: 230px;
}

/* ----------------------- */
/* - SECTION 1             */
/* ----------------------- */

.hero {
	/* background: #ffa000; */
	/* display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */
}

.hero__container {
	display: grid;
	grid-gap: 2em;
	grid-template-columns: 1fr;
	grid-template-rows: max-content max-content;
	text-align: center;

	align-content: center;

	/* grid-template-columns: repeat(auto-fit, minmax(380px, 1fr)); */
	/* align-items: center; */
	/* padding-bottom: 5rem; */
}

.hero__about-content {
	display: flex;
	gap: var(--gap, 1em);

	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero__title {
	line-height: 1.1;
	width: 230px;
	text-align: center;
	font-weight: 400;
}

.hero__p {
	text-align: center;
	max-width: 500px;
}

.hero__img {
	/* width: 201px;
	height: 180px; */
}

.hero__img-content {
	display: flex;
	justify-content: center;
}

/* ----------------------- */
/* - SECTION 2             */
/* ----------------------- */
.section2__container {
	font-size: 15.5px;
	display: flex;
	gap: var(--gap, 1.5em);
	flex-direction: column;

	justify-content: center;
	align-items: center;
}

.section2__title {
	width: 230px;
	font-size: 1.7rem;
	text-align: center;
	font-weight: 700;
}

.section2__subtitle {
	width: 300px;
	text-align: center;
}

.section2__cards {
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.section2__benefit-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--gap, 1em);
}

.section2__icons {
	width: 60px;
	height: 66px;
}

.section2__benefit-p {
	width: 250px;
}
.section2__benefit-title {
	color: var(--text-accent-1);
	font-weight: 700;
	font-size: var(--fs-400);
}

/* ----------------------- */
/* - SECTION 3             */
/* ----------------------- */
.section3 {
	font-size: 15.5px;
}

.section3__img-content {
	display: none;
}

.section3__container {
	position: relative;
}

.section3__content {
	display: flex;
	gap: var(--gap, 1em);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.section3__title {
	width: 230px;
	font-size: 1.5em;
	font-weight: 400;
}

.section3__paragraph {
	width: 250px;
	margin: 0;
}

/**-------------------------------------------**/
/**-----------  MEDIAs QUERIES                **/
/**-------------------------------------------**/

@media (min-width: 768px) {
	/* ----------------------- */
	/* - MQ -SECTION 1         */
	/* ----------------------- */
	.hero__container {
		/* width: 764px; */
	}

	.hero__container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		/* grid-template-columns: repeat(auto-fit, minmax(380px, 1fr)); */
		grid-gap: 2em;
		align-content: center;
		/* align-items: center; */
	}

	.hero__about-content {
		align-items: flex-start;
		gap: 2.5em;
	}

	.hero__title {
		width: auto;
		font-size: 2.5em;
		text-align: start;
	}

	.hero__p {
		text-align: start;
	}

	.hero__img {
		/* width: 100%; */
		/* height: 180px; */
	}

	/* ----------------------- */
	/* - MQ -  SECTION 2       */
	/* ----------------------- */
	.section2__title {
		width: auto;
		font-size: 2.3rem;
	}
	.section2__subtitle {
		width: auto;
	}

	.section2__cards {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 5rem;
		row-gap: 3rem;
		justify-content: center;
	}

	.section2__benefit-p {
		width: 215px;
	}

	/* ----------------------- */
	/* -  MQ -  SECTION 3      */
	/* ----------------------- */

	.section3__container {
		/* height: 424px; */
		height: 380px;
		display: flex;
		/* justify-content: flex-end; */
		justify-content: center;
	}

	.section3__content {
		/* align-items: flex-end; */
		align-items: center;
	}

	/* .section3__img-content {
		display: block;
		position: absolute;
		top: 20px;
		left: 0;
	} */

	.section3__title {
		width: auto;
		font-size: 2.5em;
		font-weight: 400;
	}
	.section3__paragraph {
		width: auto;
		margin: 0;
	}
}

@media (min-width: 900px) {
	/* body {
		background-color: rgba(255, 0, 0, 0.089);
	} */
	.section3__container {
		justify-content: flex-end;
		max-width: 950px;
		margin: auto;
	}
	.section3__content {
		align-items: flex-end;
		position: absolute;
		right: 10px;
		top: 70px;
	}
	.section3__img-content {
		display: block;
		position: absolute;
		top: 20px;
		left: 0;
	}
}
